<h1>Ideas index</h1>

<% @ideas.each do |idea| %>
  <div>
    <p>
      <strong><%= link_to idea.title, idea_path(idea) %></strong>
      <br>
      <%= idea.description %>
      <br>
      <small><%= idea.user.full_name %></small>
    </p>
  </div>
<% end %>
