<h1>Ideas index</h1>

<% @ideas.each do |idea| %>
  <div>
    <div class="idea-title">
      <div class="d-inline click-icon"><i class="fas fa-plus"></i></div>
      <strong><%= link_to idea.title, idea_path(idea) %></strong>
    </div>
    <div class="hidden">
      <%= idea.description %>
      <br>
      <small><%= idea.user.full_name %></small>
    </div>
  </div>
<% end %>
